#titlebar {
  z-index: 1000;
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  background: #111213;
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar #drag-region {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 138px;
  grid-template-columns: auto 138px;
}

#window-title {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

#window-title span {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-title img {
  width: 32px;
  height: 32px;
}

#window-controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46px 3;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#settings-button {
  cursor: pointer;
  -ms-grid-column: 1;
  grid-column: 1;
}

#min-button {
  -ms-grid-column: 2;
  grid-column: 2;
}

#close-button {
  -ms-grid-column: 3;
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
  background: #e81123 !important;
}

#close-button:active {
  background: #f1707a !important;
}

#close-button:active .icon {
  -webkit-filter: invert(1);
  filter: invert(1);
}

#restore-button {
  display: none !important;
}
