.root {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  width: auto;
}

.root_column {
  padding-left: 20px;
  background-clip: padding-box;
}
