@import url("https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Roboto Mono", monospace;
  color: white;
  user-select: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  border: 1px solid #48545c;
  overflow-y: hidden;
  background: rgb(31, 31, 31);
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  overflow-y: auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #111213;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin: 4rem 0 5rem 0;
}

#offline-modal {
  display: none;
  background: rgb(100, 0, 0);
  border: solid rgb(153, 24, 24);
  position: absolute;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  top: 14px;
  padding: 2rem 0;
  border-radius: 8px;
  text-align: center;
}

#main-app {
  border: solid rgba(255, 255, 255, 0.616);
  border-radius: 16px;
  padding: 1rem;
  margin: 0 0.5rem 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#add-section {
  position: relative;
  width: 100%;

  #add-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border: solid rgba(255, 255, 255, 0.616);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.384);

    &:hover {
      cursor: pointer;
    }

    i {
      color: rgba(255, 255, 255, 0.877);
      font-size: 24px;
    }
  }

  #add-modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 120%;
    border: solid rgba(255, 255, 255, 0.616);
    border-radius: 16px;
    padding: 1rem;
    transition: all 0.2s;
    background: rgb(56, 56, 56);
    z-index: 1000;

    &:hover {
      cursor: default;
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    input {
      width: 100%;
      outline: solid rgba(255, 255, 255, 0.616);
      padding: 4px;
      border: none;
      font-size: 16px;
      color: black;
    }

    #button-section {
      margin-top: 32px;
      float: right;
      display: flex;
      gap: 1rem;

      button {
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 8px;
      }

      #cancel-button {
        background: rgb(100, 0, 0);
        border: solid rgb(153, 24, 24);
      }
      #save-button {
        background: rgb(0, 100, 0);
        border: solid rgb(24, 155, 24);
      }
    }
  }
}

#emoji-grid {
  margin: 0 auto;
  columns: 140px 3;
  column-gap: 1rem;
  width: 100%;
  padding-bottom: 64px;
}

.card {
  border-radius: 14px;
  margin-bottom: 16px;

  &:hover {
    cursor: pointer;

    .card-overlay {
      opacity: 1;
    }
  }

  .card-img {
    border-radius: 16px;
    width: 100%;
  }

  .card-overlay {
    border-radius: 16px;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

    button {
      position: absolute;
      right: 2px;
      font-size: 24px;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  background: #111213;
  padding: 4px;

  #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

#window-title span {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#min-button {
  grid-column: 1;
}
#max-button,
#restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;

  .button {
    user-select: none;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

#close-button:hover {
  background: #e81123 !important;
}
#close-button:active {
  background: #f1707a !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}
